<footer class="footer text-center" role="contentinfo">
	<div class="container">
		<nav class="social-icons" role="navigation" aria-label="Social icons">
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="link" aria-label="Follow {{ site.title}} on twitter!" alt="Follow {{ site.title }} on twitter!"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/{{ site.github_username }}" target="_blank" rel="link" aria-label="Find {{ site.title}} on GitHub!" alt="Find {{ site.title }} on GitHub!"><i class="fa fa-github"></i></a>
			<a href="https://codepen.io/{{ site.codepen_username }}" target="_blank" rel="link" aria-label="Find {{ site.title}} on CodePen!" alt="Find {{ site.title }} on CodePen!"><i class="fa fa-codepen"></i></a>
		</nav>
		<h6>&copy; Juice Theme 2017. All rights reserved.</h6>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" async></script>
<script src="{{ '/assets/js/vendor.min.js' | relative_url }}" async></script>
<script type="text/javascript" src="{{ '/assets/js/site.js' | relative_url }}" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Raleway:400,700', 'Poppins:400,500,700']
    }
  });
</script>