<footer class="footer text-center" role="contentinfo">
	<div class="container">
		<nav class="social-icons" role="navigation" aria-label="Social icons">
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="link" aria-label="Follow {{ site.title}} on twitter!" alt="Follow {{ site.title }} on twitter!"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/{{ site.github_username }}" target="_blank" rel="link" aria-label="Find {{ site.title}} on GitHub!" alt="Find {{ site.title }} on GitHub!"><i class="fa fa-github"></i></a>
			<a href="https://codepen.io/{{ site.codepen_username }}" target="_blank" rel="link" aria-label="Find {{ site.title}} on CodePen!" alt="Find {{ site.title }} on CodePen!"><i class="fa fa-codepen"></i></a>
		</nav>
		<h6>&copy; Juice Theme 2017. All rights reserved.</h6>
	</div>
</footer>