.inline-form{
	display: flex;
	flex-direction: row;

	.form-input{
		margin: 0 10px;
		flex: auto;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	&.margin-bottom{
		margin-bottom: 20px;
	}
}
.form-input{
	position: relative;

	&.margin-bottom{
		margin-bottom: 20px;
	}
	
	label{
		font-size: 0.8em;
		font-weight: bold;
		margin-bottom: 5px;
	}
	input, textarea{
		display: block;
		padding: 10px;
		border: solid 1px $black;
		transition: border 0.2s;
		width: 100%;
		max-width: 100%;

		&:focus{
			outline: 0;
			border-color: $main-color;
		}
	}

	textarea{
		min-height: 100px;
	}

	input[type="radio"]{
		position: absolute;
		opacity: 0;

		& + label:before, & + label:after{
			display: inline-block;
			content: '';
			width: 15px;
			height: 15px;
			border: solid 1px #ccc;
			border-radius: 50%;
			vertical-align: middle;
			margin-top: -1px;
			margin-right: 10px;
			position: relative;
		}

		& + label:hover:before{
			border-color: $main-color;
		}

		& + label{
			display: inline-block;
			vertical-align: middle;
			position: relative;
		}

		&:checked + label:after{
			display: block;
			border: none;
			position: absolute;
			width: 9px;
			height: 9px;
			background: $main-color;
			left: 3px;
			top: 8px;
		}

		& + label:after{
			display: none;
		}

		&:disabled + label{
			opacity: 0.6;
		}
		&:disabled + label:hover:before{
			border-color: #ccc;
		}
	}

	input[type="checkbox"]{
		position: absolute;
		opacity: 0;

		& + label:before{
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			border: solid 1px #ccc;
			vertical-align: middle;
			margin-right: 10px;
			margin-top: -1px;
		}

		&:checked + label:before{
			background: $main-color;
		}

		& + label:after{
			color: #fff;
			line-height: normal;
			font-family: 'FontAwesome';
			content: '\f00c';
			position: absolute;
			left: 4px;
			top: 6px;
		}

		&:disabled + label{
			opacity: 0.6;
		}

		& + label:hover:before{
			border-color: $main-color;
		}

		&:disabled + label:hover:before{
			border-color: #ccc;
		}
	}

	.select{
		overflow: hidden;
		position: relative;

		select{
			display: block;
			font-size: 0.8em;
			width: 100%;
			padding: 10px 10px;
			border-radius: 0;
			-webkit-appearance:none;
			-moz-appearance:none;
			-ms-appearance:none;
			appearance:none;
			border: solid 1px #222;
			transition: border 0.2s;
			background: #fff;

			&:disabled{
				opacity: 0.6;
				pointer-events: none;
				border-color: #ccc;

				& + i{
					color: #ccc;
				}
			}

			&:hover{
				border-color: $main-color;

				& + i{
					color: $main-color;
				}
			}

			& + i{
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				transition: color 0.2s;
				color: #222;
			}
		}
	}
}