.featured-tag {
	display: block;
	padding: 0 0 10px 0;
	position: absolute;
	right: 20px;
	top: -0.25em;
	width: 40px;
	z-index: 999;
	font-size: 1.2em;

	div {
		background:darken($main-color, 15);
		background: linear-gradient($main-color 0%, darken($main-color, 15) 100%);
		color:#fff;
		padding:0.5em 0;
		text-align:center;
		text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
	}

	div:after {
		border-left: 20px solid darken($main-color, 15);
		border-right: 20px solid darken($main-color, 15);
		border-bottom: 10px solid transparent;
		bottom:0;
		content:'';
		height: 0;
		left:0;
		position:absolute;
		width: 0;
	}
}