<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }}</title>
	{% include head_meta.html %}
</head>
<body>
	{% include header.html %}
	<main role="main">
		<div class="container">
			<div id="slick">
				<article class="featured-post" rel="article" aria-label="Featured Post">
					<div class="featured-tag"><div><i class="fa fa-star"></i></div></div>
					<a href="/" rel="link" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_3.jpg' | relative_url }}"></a>
					<div class="featured-content">
						<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
						<h2>Featured post title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					</div>
				</article>
				<article class="featured-post" rel="article" aria-label="Featured Post">
					<div class="featured-tag"><div><i class="fa fa-star"></i></div></div>
					<a href="/" rel="link" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_6.jpg' | relative_url }}"></a>
					<div class="featured-content">
						<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
						<h2>Featured post title 2</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					</div>
				</article>
				<article class="featured-post" rel="article" aria-label="Featured Post">
					<div class="featured-tag"><div><i class="fa fa-star"></i></div></div>
					<a href="/" rel="link" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_7.jpg' | relative_url }}"></a>
					<div class="featured-content">
						<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
						<h2>Featured post title 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					</div>
				</article>
			</div>
			<span class="separator margin-bottom"></span>
			<article class="article-preview" rel="article" aria-label="Article title">
				<div class="article-content">
					<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
					<h2><a href="#">What an awesome post this is. Let us think of more!</a></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					<a href="/" class="btn" rel="link" aria-label="Read More of post title" alt="Read more of post title">
						Read More
						<i class="fa fa-angle-double-right"></i>
					</a> 
				</div>
				<div class="article-image" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_5.jpg' | relative_url }}"><a href="#"></a></div>
			</article>
			<span class="separator margin-bottom"></span>
			<article class="article-preview reverse" rel="article" aria-label="Article title">
				<div class="article-content">
					<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
					<h2>What an awesome post this is. Let us think of more!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					<a href="/" class="btn" rel="link" aria-label="Read More of post title" alt="Read more of post title">
						Read More
						<i class="fa fa-angle-double-right"></i>
					</a> 
				</div>
				<div class="article-image" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_2.jpg' | relative_url }}"></div>
			</article>
			<span class="separator margin-bottom"></span>
			<article class="article-preview" rel="article" aria-label="Article title">
				<div class="article-content">
					<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
					<h2>What an awesome post this is. Let us think of more!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					<a href="/" class="btn" rel="link" aria-label="Read More of post title" alt="Read more of post title">
						Read More
						<i class="fa fa-angle-double-right"></i>
					</a> 
				</div>
				<div class="article-image" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_1.jpg' | relative_url }}"></div>
			</article>
			<span class="separator margin-bottom"></span>
			<article class="article-preview reverse" rel="article" aria-label="Article title">
				<div class="article-content">
					<span class="date"><time datetime="2008-02-14 20:00">05.02.2017</time></span>
					<h2>What an awesome post this is. Let us think of more!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante augue, laoreet vitae porttitor id, finibus eget odio. Proin egestas nisl vel sapien porta, quis ullamcorper dui egestas. In consequat efficitur tristique. Ut iaculis imperdiet hendrerit. Maecenas consectetur metus nulla, nec finibus odio egestas ac.</p>
					<a href="/" class="btn" rel="link" aria-label="Read More of post title" alt="Read more of post title">
						Read More
						<i class="fa fa-angle-double-right"></i>
					</a>
				</div>
				<div class="article-image" style="background-image: url({{ '/assets/img/stock/stock_blog_photo_4.jpg' | relative_url }}"></div>
			</article>
			<span class="separator margin-bottom"></span>
			<div class="pagination margin-bottom" aria-label="Pagination">
				<a href="#" alt="Previous Page" class="btn icon-left" rel="link" aria-label="Previous Page">
					<i class="fa fa-chevron-left"></i>
					Previous
				</a>
				<div class="numbers">
					Page <span>1</span> out of <span>2</span>
				</div>
				<a href="#" alt="Next Page" class="btn" rel="link" aria-label="Next Page">
					Next
					<i class="fa fa-chevron-right"></i>
				</a>
			</div>
		</div>
	</main>

	{% include footer.html %}
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/vendor.min.js' | relative_url }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/site.js' | relative_url }}"></script>
</body>
</html>